@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  background: #333;
  color: whitesmoke;
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;

}

/* Utility Classes */
.text-center {
  text-align: center;
}

.heading {
  margin: 1rem 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 3rem;
}

main {
  max-width: 700px;
  margin: auto;
}

section {
  margin-top: 1em;
  width: 100%
}

article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}



h1 {
  font-size: 3.5rem;
}

p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
  border:1px solid whitesmoke;
  border-radius: 10px;
  padding: 1rem 1.25rem;
  margin: 0.5rem 0.75rem;
  width: 100%;
}
label{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}


input,textarea{
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
}
.post-title {
  border-radius: 5px;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}



.postCredit {
  font-size: 1rem;
  font-weight: 700;
}

.reactionButton {
  margin: 0 1.25em 0 0;
  background: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.5rem;
}

.savePost-btn {
  padding: 1rem 1.25rem;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.75rem;
  box-shadow: 3px 2px gray;
}

.savePost-btn:active {
  box-shadow: 5px 4px gray;
}

button:hover {
  cursor: pointer;

}